body {
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
}

.navbar{
    box-shadow: 0px 2px 36px #999;
}

.hint, .jumbotron-heading{
    color: white;
    text-shadow: 0px 0px 5px #000;
}

.jumbotron{
    border-radius: 0px;
    resize: vertical;
    background-size: cover;
    min-height: 50vh;
    margin-bottom: 0px;
    padding: 5.5rem 2rem;
}
.names{
    font-size: 16px;
}
#picDescription{
    text-align: left;
}
#picTitle, #foodName{
    font-size: 18px;
}
#foodButton:hover{
    cursor: pointer;
}
#foodPic{
    max-width: 90%;
    margin-bottom: 20px;
}
.row{
    margin: 0px !important;
}
.input-sm{
    margin: 20px auto 10px auto;
}

.info{
    padding: 40px;
    text-align: center;
}

h2{
    color: #343A40;
    font-size: 1.5rem;
}
